.qwery{
    color: var(--wei, #FFF);
font-family: Open Sans;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.24px;
text-transform: capitalize;
justify-content: left;
padding-right: 702px;
margin: auto;
}

ul.nav{
    color: #FFF;
font-family: Open Sans;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: normal;
flex-direction: row;
display: inline-flex;
margin: auto;
padding: 0;
grid-gap: 50px;
}
li {
    list-style-type: none; /* Убираем маркеры */
   }

.search{
    color: #FFF;
font-family: Open Sans;
font-size: 17px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding-left: 701px;
flex-direction: row;
display: flex;
margin: auto;

}

.search-image{
    width: 20px;
height: 20px;
flex-shrink: 0;
padding-right: 14px;
margin: auto;
}

.header{
    display: flex;
    margin-top: 64px;
    margin-left: 85px;
    margin-right: 84px;
   flex-direction: row;
   justify-content: center;
}

.back{
flex-shrink: 0;
}

.body{
    
    background: linear-gradient(347deg, rgba(0, 0, 0, 0.00) 0%, #000 100%),url(img/Rectangle.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: black;
}



main{
    padding-top: 196px;
}

.middleOne{
    display: inline-flex;
    flex-direction: row;
    align-items: last baseline;

}

.content{
display: inline-flex;
flex-direction: column;
align-items: flex-start;
gap: 32px;
margin-right: 470px;
margin-left: 500px;
}

.rectangle-explore{
    display: flex;
    flex-direction: row;
    grid-gap: 32px;
}

.Rectangle{
    width: 72px;
height: 2px;
flex-shrink: 0;
background: #FFC178;
margin: auto;
}

.text{
    color: #FFC178;
font-family: Open Sans;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 6px;
text-transform: uppercase;
margin: auto;
}

.discover{
    width: 950px;
}

#one{
    color: var(--wei, #FFF);
font-family: Open Sans;
font-size: 96px;
font-style: normal;
font-weight: 700;
line-height: 100px; /* 104.167% */
text-transform: capitalize;
margin: auto;
}

#two{
    color: var(--wei, #FFF);
font-family: Open Sans;
font-size: 88px;
font-style: normal;
font-weight: 400;
line-height: 100px;
text-transform: capitalize;
margin: auto;
}

.contact{
    color: #FFF;
font-family: Open Sans;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: normal;
display: inline-flex;
flex-direction: row;
transform: rotate(90deg);
grid-gap: 20px;
}

.inst, .face, .twitter{
width: 24px;
height: 24px;
flex-shrink: 0;
transform: rotate(-90deg);
}

.scroll{
    color: #FFF;
font-family: Open Sans;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: normal;
padding-top: 126px;
display: flex;
flex-direction: row;
gap: 9px;
justify-content: center;
}

.down{
    width: 16px;
height: 24px;
flex-shrink: 0;
}

.Rectangle3{
height: 358px;
flex-shrink: 0;
fill: linear-gradient(360deg, #000 0%, rgba(0, 0, 0, 0.00) 100%);
padding-top: 516px;
}

.text-image{
    display: flex;
height: 721px;
padding-top: 1px;
justify-content: center;
align-items: center;
gap: 232px;

}

.mountain{
    width: 598px;
height: 720px;
}

.paragraph{
    display: flex;
width: 632px;
flex-direction: column;
align-items: flex-start;
gap: 27px;
}

.rectangle-text{
    display: flex;
    flex-direction: row;
    grid-gap: 24px;
}

.holiday{
    color: #FFF;
font-family: Open Sans;
font-size: 64px;
font-style: normal;
font-weight: 700;
line-height: normal;
width: 555px;
}

.more-text{
    color: #FFF;
font-family: Open Sans;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 32px; /* 177.778% */
width: 632px;
}

.read-more{
    color: var(--accent, #FBD784);
font-family: Open Sans;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: normal;

}

.more{
    width: 16px;
height: 24px;
transform: rotate(-90deg);
flex-shrink: 0;

}
