/*header{
    display: flex;
}*/

.qwery{
    color: var(--wei, #FFF);
font-family: Open Sans;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.24px;
text-transform: capitalize;
justify-content: left;
padding-right: 702px;
}

ul.nav{
    color: #FFF;
font-family: Open Sans;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: normal;
flex-direction: row;
display: inline-flex;
margin: 0;
padding: 0;
grid-gap: 50px;
}
li {
    list-style-type: none; /* Убираем маркеры */
   }

.search{
    color: #FFF;
font-family: Open Sans;
font-size: 17px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding-left: 701px;
flex-direction: row;

}

.search-image{
    width: 20px;
height: 20px;
flex-shrink: 0;
padding-right: 14px;
}

.header{
    display: flex;
    margin-top: 64px;
    margin-left: 85px;
    margin-right: 84px;
   flex-direction: row;
   justify-content: center;
}

.body{
    background-color: black;
    background: linear-gradient( 352deg, transparent, rgb(0, 0, 0)), url(img/Rectangle.png);
    background-size: 100%;
}

.content{
    color: #FFC178;
font-family: Open Sans;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 6px;
text-transform: uppercase;
padding: 196px 0px 604px 900px;
}